.asAbas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.asAbas input[type="radio"]{
    display: none;
}

.asAbas label{
    padding: 5%;
    background: rgb(207, 207, 207);
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.asAbas .aba{
    width: 100%;
    background: white;
    padding: 5%;
    order: 1;
    display: none;
}

.asAbas .aba button{
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.asAbas input[type='radio']:checked + label + .aba {
    display: block;
}

.asAbas input[type='radio']:checked + label {
    background: white;
}

.diAbas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.diAbas input[type="radio"]{
    display: none;
}

.diAbas label{
    padding: 5%;
    background: rgb(207, 207, 207);
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.diAbas .daba{
    width: 100%;
    background: white;
    padding: 5%;
    order: 1;
    display: none;
}

.diAbas .daba button{
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.diAbas input[type='radio']:checked + label + .daba {
    display: block;
}

.diAbas input[type='radio']:checked + label {
    background: white;
}

.diAbas .daba h3{
    color: black;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    font-family: Georgia;
}

button{
    height: 4rem;
    width: fit-content;
    font-size: large;
    font-family: Georgia;
}

#loboloja button{
    display: block;
    margin-bottom: 1rem;
}

#loboaprimoramento{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    
}

#loboaprimoramento button{
    margin: 1%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 4rem;
    width: 4rem;
}

#esquerda{
    display: inline-flex;
    width: 33%;
    align-items: flex-start;
    float: left;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;

}


#meio{
    height: 100%;
    width: 34%;
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(fotocas/LOBOS.png);
    background-repeat: no-repeat;
    background-position: center;
}


#texto{
    text-align: center;
    position: absolute;
    top: 3rem;
}

#texto h1{
    margin: -2%;
}


#direita{
    display: inline-flex;
    width: 33%;
    margin-left: auto;
    float: left;
    height: 100%;
    flex-direction:column;
    overflow-y: auto;
}



#imagem {
    padding: 0rem;
    margin-left: 0rem;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    animation-name: spin;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    transition: width 0.3s ease, height 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-bottom 0.3s ease;  /* Transição suave */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#imagem:hover {
    width: 21rem;
    height: 21rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem ;
}

#imagem:active {
    width: 19.5rem;
    height: 19.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem ;
}
