<<<<<<< HEAD
.aba{
    display: none;
    background-color: rgb(199, 199, 199);
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    background-color: rgb(35, 35, 39);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.clicker{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(fotocas/LOBOS.png);
    background-size: cover;
    width: 768px;
    height: 100vh;
    text-align: center;
    
}

.correcao{
    height: 15vh;
}

.dados{
    height: 20vh;
    color: #ededed;
    padding-top: 6vh;
    padding-bottom: 2vh;
}

.detalhes{
    position: absolute;
    color: black;
    background-color: white;
    width: max-content;
    cursor: auto;
    border: 1px solid black;
    padding: 10px;
    display: none;
    zIndex: 1000;
}

.escolha {
    align-items: center;
    height: 12vh;
    width: 12vh;
    border: none;
    background: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #0e0e0e;
}

.escolha img {
    height: 8vh;
    width: 8vh;
}

.escolha:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.escolha:active{
    background-color: rgba(0, 0, 0, 0.1);
}

.escolha .select{
    display: none;
}

.escolha .normal{
    display: block;
}

.escolha.ativo {
    color: #ededed;
}

.escolha.ativo .select{
    display: block;
}

.escolha.ativo .normal{
    display: none;
}

#feedback-clique {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    color: white;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transição suave para o desaparecimento */
    pointer-events: none; /* Permite cliques na área abaixo */
    z-index: 1000;
  }

html button{
    cursor: pointer;
    margin: 1%;
}

h3{
    padding: 0;
    margin: 0;
    border: 0;
}

#imagem{
    position: relative;
    cursor: pointer;
    height: 40vh;
    animation-name: rodar;
=======
.asAbas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.asAbas input[type="radio"]{
    display: none;
}

.asAbas label{
    text-align: center;
    background: rgb(207, 207, 207);
    font-weight: bold;
    color: black;
    cursor: pointer;
    order: 1;
    padding: 0%;
}

.asAbas .aba{
    width: 100%;
    height: 90vh;
    background: white;
    padding: 5%;
    order: 0;
    display: none;
}

.asAbas .aba button{
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.asAbas input[type='radio']:checked + label + .aba {
    display: block;
}

.asAbas input[type='radio']:checked + label {
    background: white;
}


body{
    padding: 0;
    border: 0;
    margin: 0;
    background-color: black;
    color: aliceblue;
    font-family: Georgia;

}

button{
    height: 4rem;
    width: fit-content;
    font-size: large;
    font-family: Georgia;
}

#loboloja button{
    display: block;
    margin-bottom: 1rem;
}

#loboaprimoramento{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    
}

#loboaprimoramento button{
    margin: 1%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 4rem;
    width: 4rem;
}


#meio{
    margin: 0 auto;
    justify-content: center;
    height: 100vh;
    text-align: center;
    width: 768px;
    background-image: url(fotocas/LOBOS.png);
    background-size: 100vh;
    background-repeat: no-repeat;
    background-position: center;
}



#imagem {
    padding: 0rem;
    margin-left: 0rem;
    width: 25rem;
    height: 25rem;
    cursor: pointer;
    animation-name: spin;
>>>>>>> 35fda480b15f0db18d67460a78c77e9ae0c8366b
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
<<<<<<< HEAD
    transition: width 0.3s ease, height 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-bottom 0.3s ease;
}

@keyframes rodar {
=======
    transition: width 0.3s ease, height 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-bottom 0.3s ease;  /* Transição suave */
}

@keyframes spin {
>>>>>>> 35fda480b15f0db18d67460a78c77e9ae0c8366b
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

<<<<<<< HEAD
#imagem:hover{
    height: 42vh;
    margin-top: -1vh;
    margin-bottom: -1vh;
}

#imagem:active{
    height: 38vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.infobar{
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
}

.infobar button{
    height: 3vh;
}

#loja{
    height: 100vh;
}

#loboloja{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    flex-wrap: wrap;
}

.navbar{
    display: flex;
    height: 12vh;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


.streams-voadores {
    position: absolute;
    color: white;
    font-size: 4vh;
    font-weight: bold;
    pointer-events: none;
    animation: floatUp 1s ease-out forwards;
    z-index: 9999;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
=======
#imagem:hover {
    width: 26.5rem;
    height: 26.5rem;
    margin-top: -0.75rem;
    margin-bottom: -0.75rem ;
}

#imagem:active {
    width: 24.5rem;
    height: 24.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem ;
>>>>>>> 35fda480b15f0db18d67460a78c77e9ae0c8366b
}
