.aba{
    display: none;
    background-color: rgb(199, 199, 199);
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    margin: 0;
    background-color: rgb(35, 35, 39);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.clicker{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(fotocas/LOBOS.png);
    background-size: cover;
    width: 768px;
    height: 100vh;
    text-align: center;
    
}

.correcao{
    height: 15vh;
}

.dados{
    height: 20vh;
    color: #ededed;
    padding-top: 6vh;
    padding-bottom: 2vh;
}

.detalhes{
    position: absolute;
    color: black;
    background-color: white;
    width: max-content;
    cursor: auto;
    border: 1px solid black;
    padding: 10px;
    display: none;
    zIndex: 1000;
}

.escolha {
    align-items: center;
    height: 12vh;
    width: 12vh;
    border: none;
    background: none;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: #0e0e0e;
}

.escolha img {
    height: 8vh;
    width: 8vh;
}

.escolha:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.escolha:active{
    background-color: rgba(0, 0, 0, 0.1);
}

.escolha .select{
    display: none;
}

.escolha .normal{
    display: block;
}

.escolha.ativo {
    color: #ededed;
}

.escolha.ativo .select{
    display: block;
}

.escolha.ativo .normal{
    display: none;
}

#feedback-clique {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vh;
    color: white;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Transição suave para o desaparecimento */
    pointer-events: none; /* Permite cliques na área abaixo */
    z-index: 1000;
  }

html button{
    cursor: pointer;
    margin: 1%;
}

h3{
    padding: 0;
    margin: 0;
    border: 0;
}

#imagem{
    position: relative;
    cursor: pointer;
    height: 40vh;
    animation-name: rodar;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    transition: width 0.3s ease, height 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-bottom 0.3s ease;
}

@keyframes rodar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#imagem:hover{
    height: 42vh;
    margin-top: -1vh;
    margin-bottom: -1vh;
}

#imagem:active{
    height: 38vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.infobar{
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 3vh;
}

.infobar button{
    height: 3vh;
}

#loja{
    height: 100vh;
}

#loboloja{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    flex-wrap: wrap;
}

.navbar{
    display: flex;
    height: 12vh;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


.streams-voadores {
    position: absolute;
    color: white;
    font-size: 4vh;
    font-weight: bold;
    pointer-events: none;
    animation: floatUp 1s ease-out forwards;
    z-index: 9999;
}

@keyframes floatUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}
