.asAbas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.asAbas input[type="radio"]{
    display: none;
}

.asAbas label{
    padding: 5%;
    background: rgb(207, 207, 207);
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.asAbas .aba{
    width: 100%;
    background: white;
    padding: 5%;
    order: 1;
    display: none;
}

.asAbas .aba button{
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.asAbas input[type='radio']:checked + label + .aba {
    display: block;
}

.asAbas input[type='radio']:checked + label {
    background: white;
}

html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: aliceblue;
    font-family: Georgia;
}

button{
    height: 4rem;
    width: fit-content;
    font-size: large;
    font-family: Georgia;
}

#auxiliar{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#loboloja button{
    display: block;
    margin-bottom: 1rem;
}

#loboaprimoramento button{
    display: block;
    margin-bottom: 1rem;
}

#esquerda{
    display: inline-flex;
    width: 33%;
    align-items: flex-start;
    float: left;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
    background-color: blue;
}


#meio{
    height: 100%;
    width: 34%;
    float: left;
}

#direita{
    display: inline-flex;
    width: 33%;
    margin-left: auto;
    float: left;
    height: 100%;
    flex-direction:column;
    overflow-y: auto;
}


#pqp{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(fotocas/LOBOS.png);
    background-repeat: no-repeat;
    background-position: center;
}

#texto{
    text-align: center;
}

#cd{
    height: 100%;
    align-self: center;
    justify-self: center;
}

#imagem {
    padding: 0rem;
    margin-left: 0rem;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    animation-name: spin;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    transition: width 0.3s ease, height 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-bottom 0.3s ease;  /* Transição suave */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#imagem:hover {
    width: 21rem;
    height: 21rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem ;
}

#imagem:active {
    width: 19.5rem;
    height: 19.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem ;
}
