html{
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: aliceblue;
}

button{
    height: 4rem;
    width: fit-content;
    font-size: large;
}

#auxiliar{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loboloja button{
    display: block;
    margin-bottom: 1rem;
}

#loboaprimoramento button{
    display: block;
    margin-bottom: 1rem;
}

#esquerda{
    display: inline-flex;
    width: 33%;
    align-items: flex-start;
    float: left;
    height: 100%;
    flex-direction: column;
    overflow-y: auto;
}


#meio{
    height: 100%;
    width: 34%;
    float: left;
}

#direita{
    display: inline-flex;
    width: 33%;
    margin-left: auto;
    float: left;
    height: 100%;
    flex-direction:column;
    overflow-y: auto;
}


#pqp{
    display: flex;
    height: 100%;
    width: 75%;
    justify-content: center;
    align-items: center;
    background-image: url(fotocas/LOBOS.png);
    background-repeat: no-repeat;
    background-position: center;
}

#texto{
    position: absolute;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 75%);

}

#imagem {
    padding: 0rem;
    margin-left: 0rem;
    width: 20rem;
    height: 20rem;
    cursor: pointer;
    animation-name: spin;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    transition: width 0.3s ease, height 0.3s ease, margin-top 0.3s ease, margin-left 0.3s ease, margin-bottom 0.3s ease;  /* Transição suave */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#imagem:hover {
    width: 21rem;
    height: 21rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem ;
}

#imagem:active {
    width: 19.5rem;
    height: 19.5rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem ;
}
