

#imagem {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    height: 20rem;
    display: block;
    z-index: 999;
    cursor: pointer;
    animation-name: spin;
    animation-duration: 30000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transform-origin: center;
    transition: width 0.3s ease, height 0.3s ease, margin-top 0.3s ease; /* Transição suave */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#imagem:hover {
    width: 21rem;
    height: 21rem;
    margin-top: -0.5rem;
}

#imagem:active {
    width: 19rem;
    height: 19rem;
    margin-top: 0.5rem;

}
